// Override default variables before the import
//$body-bg: #000;
$primary:#3FEFEF;
$primary-light:#E6F9FF;
$secondary:#4A5BE5;
$tertiary:#2B7281;
//$success:#FEC100;
//$danger:#703B3B;
//$info:#63e792;
//$warning:#FFE869;
//$light:#d2f7d4;
//$dark:#2E6A3B;
//$spacer:1rem;
//$border-width:1px;
//$btn-border-radius:.25rem;
$card-cap-bg:#eeffee;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap');

.bg-gradient{
  background: linear-gradient(to right, $primary-light 0%, 50% ,$secondary 100%);
}

.bg-primary-light{
  background: $primary-light;
}

$header-font: 'Muli', sans-serif;
$body-font:'Open Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}